div.constraintDiv {
    background: #eeeeee;
    position: relative;
}

div.constraintDiv span.remove,
div.constraintSubDiv span.subremove,
div.constraintSubDiv span.subsubremove-condition,
div.constraintDiv span.subremove-condition,
div.constraintSubDiv span.subremove-condition,
div.constraintSubDiv span.subsubremove-condition {
    position: absolute;
    background: url('[{$dirs.images}]icons/silk/delete.png');
    right: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

div.constraintDiv span.add, div.constraintSubDiv span.subadd {
    position: absolute;
    background: url('[{$dirs.images}]icons/silk/add.png');
    right: 30px;
    top: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.constraintDiv {
    margin: 15px 0;
}

label.reportLabel {
    width: 50px;
    display: block;
    text-align: right;
    margin-right: 10px;
}

select.reportDialog, select.reportDialog2, input.reportInput, textarea.reportTextarea {
    border: 1px solid #888888;
}

select.reportDialog2 {
    margin-right: 10px;
}

select.reportBlockOperator {
    position: relative;
    left: 370px;
}

div.constraintSubDiv {
    background-color: rgb(204, 204, 255);
    background-color: rgba(204, 204, 255, 0.4);
    min-width: 750px;
    position: relative;
}

table.reportCondtionsTable {
    margin-top: 15px;
}

table.reportCondtionsTable,
table.reportCondtionsSubTable {
    width: 100%;
}

.report-query-builder .contentTable .key {
    width: 120px;
}
